.contact .section {
    padding-bottom: 6.25rem;
  }
  .contact__container {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
  }
  .contact_title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
  }
  .contact__form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .contact_form-div {
    position: relative;
    margin-bottom: 1.875rem;
    height: 3.75rem;
  }
  .home__social-link {
    margin: 10px;
  }
  .contact_form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    background-color: var(--container-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 1.875rem;
    padding: 0.625rem 1.875rem;
    z-index: 1;
  }
  .contact__form-area {
    height: 10.25rem;
  }
  .contact__form-area textarea {
    resize: none;
  }
  
  .btn2 {
    cursor: pointer;
    padding: 0.75rem 2rem;
    line-height: 1;
    border-radius: 1.875rem;
    box-shadow: 0 0 1px rgb(0 0 0/0%);
    border: 1px solid transparent;
    display: inline-block;
    background-color: var(--first-color);
    font-weight: var(--font-bold);
    color: #000;
  }
  @keyframes button-push {
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  .btn2:hover {
    animation: button-push 0.3s linear 1;
  }
  
  @media screen and (max-width: 1024px) {
    .contact__container {
      grid-template-columns: 300px 360px;
      justify-content: center;
    }
    .contact__form-group {
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (max-width: 768px) {
    .contact__container {
      grid-template-columns: 310px;
      row-gap: 1.875rem;
    }
    .contact__info {
      text-align: center;
    }
    .btn2 {
      padding: 1rem 6rem;
    }
  }
  
  @media screen and (max-width: 350px) {
    .contact__container {
      grid-template-columns: 1fr;
    }
    .btn2 {
      padding: 1rem 5rem;
    }
  }
  